@import '../../colors.scss';

:host {
  display: block;
  min-height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;

  @media screen and (min-width: 769px) {
    top: 50px;
  }
}

.main-wrapper {
  height: 100vh;
}

.container {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 50px 0 0 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 5px);
  overflow: visible;
  position: relative;
  z-index: 0;

  @media screen and (max-width: 271px) {
    margin-top: -3px !important;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0px;
  }

  @media screen and (min-width: 840px) {
    max-width: 810px;
  }

  @media screen and (min-width: 1380px) {
    max-width: 1350px;
  }

  .game {
    display: block;
    position: relative;
    float:left;
    margin: 5px;
    padding: 0;
    width: calc(100% - 3px);
    height: auto;
    border-radius: 15px;
    cursor: pointer;
    overflow: visible;
    transition: all 250ms ease;
    transform: scale(1.5);
    opacity: 0;
    background: {
      color: #DDD;
      size: cover;
      repeat: no-repeat;
      position: center;
    }

    &.fade-in {
      transform: scale(1);
      opacity: 1;
    }

    &.hover {
      box-shadow: inset 0 0 50px 0 rgba(0,0,0,0.75);
      transform: scale(1.05);
      z-index: 2;
    }

    .jackpot {
      display: block;
      position: absolute;
      width: 100%;
      height: 40px;
      color: #FFF;
      font-size: 17px;
      line-height: 40px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;

      .new {
        animation: wave 0.33s ease forwards;
      }
    }

    @media screen and (max-width: 271px) {
      margin: 3px 0 8px 0 !important;
    }

    @media screen and (max-width: 480px) {
      margin: 3px;
      border-radius: 4vw;

      .jackpot {
        border-top-right-radius: 4vw;
        border-top-left-radius: 4vw;
      }
    }

    @media screen and (min-width: 272px) and (max-width: 479px) {
      width: calc(50% - 7px);

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 480px) and (max-width: 809px) {
      width: calc(33% - 8px);
      border-radius: 2vw;

      .jackpot {
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 840px) {
      width: 260px;
      height: 154px;
    }

    .play-btn {
      display: none;

      @media screen and (min-width: 769px) {
        opacity: 0;
        display: inline-block;
        transition: all 250ms ease;
        width: 40px;
        height: 40px;
        border: solid 5px #FFF;
        background-color: rgba(142,255,0,0.5);
        border-radius: 50%;
        color: #FFF;
        line-height: 43px;
        text-align: center;
        font-size: 24px;
        margin: 0 10px;
        position: absolute;
        top: 50%;
        left: 47%;
        padding-left: 1px;
        z-index: 1;
        text-indent: 8px;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 20px 0 rgba(142,255,0,0.75);
        cursor: pointer;
        user-select: none;

        &.hover {
          opacity: 1;
          width: 70px;
          height: 70px;
          font-size: 40px;
          line-height: 74px;

          .play-triangle {
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            border-left: 30px solid #FFF;
          }
        }
      }

      .play-triangle {
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 15px solid #FFF;
        position: absolute;
        left: calc(50% + 3px);
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 250ms ease;
      }
    }

    .dummy-img {
      visibility: hidden;
      width: 100%;
    }

    .ribbon-wrapper {
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: 1;
      top: -5px;
      right: -5px;
    }

    .ribbon {
      display: block;
      width: 100px;
      height: 100px;
    }

    .ribbon-label {
      font-size: 18px;
      color: #FFF;
      position: absolute;
      transform: rotate(45deg);
      left: 50px;
      top: 18px;

      &.white {
        left: 54px;
        color: #444;
      }
    }
  }
}

p {
  text-align: center;
  font-size:6vw;
  color: #CCC;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;

  @media screen and (min-width: 769px) {
    top: calc(50% - 50px);
  }

  span {
    font-size: 4vw;
    display: inline-block;
    margin-top: 2vw;
    line-height: 4vw;

    @media screen and (min-width: 769px) {
      font-size: 3vw;
    }

    a {
      color: $green;
    }
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  z-index: 1;
  background: #FFF;

  &.fade {
    animation: fade 0.33s ease forwards;
  }

  .icon {
    text-align: center;
    position: absolute;
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: calc(50% - 100px);
    background: {
      repeat: no-repeat;
      size: cover;
    }
    opacity: 0.8;
    animation: rotate 750ms linear infinite;
  }
}

@keyframes wave {
  0% { font-size: 17px; }
  50% { font-size: 22px; }
  100% { font-size: 17px; }
}

@keyframes fade {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes rotate {
  from{ transform: rotate(0.1deg); }
  to{ transform: rotate(360deg); }
}
