<div
  class="main-wrapper"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
>
  <ul class="container" *ngIf="!(loading$ | async)">
    <li
      *ngFor="let game of games$ | async"
      [style.background-image]="'url(' + game.image + ')'"
      [ngClass]="{
        'game': true,
        'hover': hoverGameId === game.id,
        'fade-in': game.timer | async
        }"
      (mouseover)="mouseEnter(game.id)"
      (mouseout)="hoverGameId = null"
    >
      <div
        *ngIf="gameHasJackpot(game.id, jackpots) as jackpot"
        class="jackpot"
      >
        <span
          [ngClass]="{ 'new': newJackpot && (jackpot.timer | async)}"
        >
          {{ jackpot.amount | currency: jackpot.currency }}
        </span>
      </div>
      <img
        class="dummy-img"
        src="{{ game.image }}"
        alt="{{ game.name }}"
      >
      <div
        [ngClass]="{
          'play-btn': true,
          'hover': hoverGameId === game.id
        }"
      ><div class="play-triangle"></div></div>
      <div
        class="ribbon-wrapper"
        *ngIf="gameGalleryService.getRibbon(game, (activeRoute$ | async), featuredCategories) as ribbon"
      >
        <img
          class="ribbon"
          src="{{ ribbon.image }}"
        >
        <span
          class="ribbon-label"
          [className]="'ribbon-label ' + ribbon.class "
        >{{ ribbon.label }}</span>
      </div>
    </li>
  </ul>
  <p *ngIf="(games$ | async)?.length === 0">✖ No games in this section.<br><span>Try <a href="https://mxfinder.com">mxfinder.com</a> for<br>gorgeous landscapes!</span></p>
  <div
    *ngIf="(loading$ | async) !== null"
    class="loading"
    [class.fade]="(loading$ | async) === false"
  >
    <div
      class="icon"
      [ngStyle]="{'background-image':'url(assets/images/reload.png)'}">
    </div>
  </div>
</div>
