<div class="touch-menu"><span (click)="toggleMenu()">≡</span></div>

<ol
  class="container"
  [ngClass]="{
    'container': true,
    'unfolded': menuUnfolded
  }"
>
  <li
    class="option"
    *ngFor="let route of optionRoutes"
    [ngClass]="{
      'option': true,
      'active': route.path === (activeRoute$ | async)?.path
    }"
    (click)="goToUrl($event, route.path)"
  >
    <a
      href="{{ route.path }}"
    >{{ route.data.label }}</a>
  </li>
</ol>

<div
  [ngClass]="{
    'shadow': true,
    'unfolded': menuUnfolded
  }"
  (tap)="hideMenu()"
></div>
