@import '../../colors.scss';

:host {
  display: block;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.touch-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 40px;
  background: $gray;
  width: 100%;
  line-height: 40px;
  color: $light-gray;
  font-size: 20px;
  padding: 3px 0 0 0px;

  span {
    display: block;
    font-size: 40px;
    line-height: 40px;
    transform: scaleX(1.3);
    width: 40px;
    text-align: center;
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.container {
  background: $gray;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100vw;
  transition: height 250ms ease;
  position: fixed;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.33);

  @media screen and (max-width: 768px) {
    overflow: hidden;
    height: 0;
    padding-top: 10px;
    overflow-y: scroll;
    top: 25px;


    &.unfolded {
      height: 66vh;
      z-index: 1;
      top: 40px;
    }

    li {
      display: block;
      height: 30px;
      line-height: 30px;
      padding-left: 15px;
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 769px) {
    display: flex;
    height: 60px;
    top: 0;

    li {
      flex-grow: 1;
      display: block;
      float: left;
      line-height: 60px;
      font-size: 20px;
      text-align: center;
    }
  }

  li {
    &.active { background: $green; }

    a {
      text-decoration: none;
      color: $light-gray;
    }
  }
}

.shadow {
  @media screen and (max-width: 768px) {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 0;
    background: rgba(0,0,0,0);
    z-index: 0;
    transition: background 250ms ease;

    &.unfolded {
      height: 100vh;
      background: rgba(0,0,0,0.5);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

}
